<div *ngIf="validToken; else checkingToken" class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <!-- <img src="assets/icons/unbrako_main.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">                 -->
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/icons/unbrako_main.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Reset Your Password</div>
                </div>

                <div>

                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                        <p-messages 
                            [(value)]="messages" 
                            [enableService]="false" 
                            [closable]="true" />
                        <label for="new-password" class="block text-900 text-xl font-medium mb-2">New Password <span class="text-red-500">*</span></label>
                        <input formControlName="new_password"  id="new-password" type="password" placeholder="Enter New Password" pInputText class="w-full md:w-30rem" style="padding:1rem">
                        <small *ngIf="f['new_password'].touched && resetPasswordForm.controls['new_password'].errors?.['required']" class="text-red-500 block  mb-5">
                            New password is required.
                        </small>
                        <small *ngIf="f['new_password'].touched && f['new_password'].errors?.['minlength']" class="text-red-500 block mb-2">
                            Password must be at least 6 characters.
                        </small>

                        <label for="confirm-password" class="block text-900 text-xl font-medium mb-2 mt-4">Confirm Password <span class="text-red-500">*</span></label>
                        <input formControlName="confirm_password"  id="confirm-password" type="password" placeholder="Enter confirm password" pInputText class="w-full md:w-30rem" style="padding:1rem">
                        <small *ngIf="f['confirm_password'].touched && resetPasswordForm.controls['confirm_password'].errors?.['required']" class="text-red-500 block  mb-5">
                            Confirm password is required.
                        </small>
                        <small *ngIf="f['confirm_password'].touched && !f['confirm_password'].errors?.['required'] && resetPasswordForm.errors?.['mismatch']" class="text-red-500 block mb-5">
                            Passwords do not match.
                        </small>

                        <div class="flex align-items-center justify-content-between mb-5 gap-5 mt-2">
                            <a [routerLink]="['/auth/login']" class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Login</a>
                        </div>
                        <button [disabled]="resetPasswordForm.invalid || loading" type="submit" [loading]="loading" pButton pRipple label="Reset" class="w-full p-3 text-xl"></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<ng-template #checkingToken>
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <!-- <img src="assets/icons/unbrako_main.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">                 -->
            <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                    <div class="text-center mb-5">
                        <img src="assets/icons/unbrako_main.png" alt="Image" height="50" class="mb-3">
                        <div class="text-900 text-3xl font-medium mb-3">Reset Your Password</div>
                    </div>
    
                    <div>
    
                        <div *ngIf="checkTokenLoading; else errorMessage" class="text-center">
        
                            <p-progressSpinner 
                                styleClass="w-4rem h-4rem"  />
                        </div>
                        <ng-template #errorMessage>
                            <p-messages 
                                [(value)]="messages" 
                                [enableService]="false" 
                                [closable]="true" />
                        </ng-template>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="checkTokenLoading; else errorMessage">
        
        <p-progressSpinner 
            styleClass="w-4rem h-4rem"  />
    </div>
    <ng-template #errorMessage>
        <p-messages 
            [(value)]="messages" 
            [enableService]="false" 
            [closable]="true" />
    </ng-template> -->
</ng-template>