<form [formGroup]="moduleForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid grid">
        <!-- Project Name -->
        <div class="field col-12">
            <label for="name">Name <span class="text-red-500">*</span></label>
            <input id="name" type="text" pInputText  formControlName="name" (input)="onNameInput($event)" (focus)="backendErrors=undefined" />
            <small *ngIf="submitted && moduleForm.controls['name'].invalid" class="p-error">
                Name is required.
            </small>
            <small *ngIf="backendErrors?.name" class="p-error">
                {{ backendErrors.name }}
            </small>
        </div>

        <div class="field col-12">
            <!-- <span class="p-input-icon-left"> -->

                <label for="responsible">Responsible <span class="text-red-500">*</span></label>
                <p-dropdown
                  id="responsible"
                  [options]="responsibleOptions"
                  [filter]="true"
                  filterBy="name"
                  formControlName="responsible"
                  placeholder="Select Customer"
                  optionLabel="label"
                  optionValue="id"
                  appendTo="body"
                >
                    <!-- Custom Loader Template -->
                    <ng-template pTemplate="empty">
                        <div class="p-d-flex p-ai-center p-jc-center" style="height: 2rem;">
                        <p-progressSpinner styleClass="w-2rem h-2rem"></p-progressSpinner>
                        <span class="ml-2">Loading...</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <!-- <i class="pi pi-spin pi-spinner"></i>
            </span> -->
            <small *ngIf="submitted && moduleForm.controls['responsible'].invalid" class="p-error">
              Responsible is required.
            </small>
          </div>
    
        <!-- Submit Button -->
        <div class="field col-12">
            <p-button type="submit" [disabled]="loading" label="{{selectedModule ? 'Edit' : 'Add'}}" />
        </div>
    </div>
</form>
             