<div class="grid">
    <div class="col-12">
        <div class="p-2">
            <input type="text" pInputText [(ngModel)]="templateName" placeholder="Enter Template Name" (input)="onTemplateNameInput($event)" />
            <p-button [disabled]="!templateName.trim()" label="Check Password" [loading]="loadingPasswords" (click)="load_passwords()"/>
        </div>
        <div class="p-2" *ngIf="passwordRes">
            <div *ngIf="passwordRes.status; else passwordNotFound">
                Password: {{passwordRes.password}}
            </div>
            <ng-template #passwordNotFound>
                <span>{{passwordRes.message}}</span>
            </ng-template>
        </div>
        <p-table [value]="templates" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines p-datatable-striped" >
            <ng-template pTemplate="header">
                <tr>
                    <th>Template Name</th>
                    <th>Password</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{ row.label }}</td>
                    <td>
                        <p-button label="Release" [loading]="row.loading" (click)="release_template(row)"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>