<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
<div class="grid">
    <div class="col-12">
        <div class="card">

            <div class="grid justify-content-center">
                <div class="col-12 sm:col-6 md:col-6 justify-content-center align-items-center">
                    <!-- <div class="card text-center"> -->
                        <p-fieldset legend="Change Password" [toggleable]="false">
                            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                                <p-messages 
                                    [(value)]="messages" 
                                    [enableService]="false" 
                                    [closable]="true" />
            
                                <label for="current-password" class="block text-900 text-xl font-medium mb-2">Current Password <span class="text-red-500">*</span></label>
                                <input formControlName="current_password"  id="current-password" type="password" placeholder="Enter current Password" pInputText class="w-full " style="padding:1rem">
                                
                                <small *ngIf="f['current_password'].touched && changePasswordForm.controls['current_password'].errors?.['required']" class="text-red-500 block  mb-5">
                                    Old password is required.
                                </small>
                                
                                <label for="new-password" class="block text-900 text-xl font-medium mb-2 mt-4">New Password <span class="text-red-500">*</span></label>
                                <input formControlName="new_password"  id="new-password" type="password" placeholder="Enter New Password" pInputText class="w-full " style="padding:1rem">
                                <small *ngIf="f['new_password'].touched && changePasswordForm.controls['new_password'].errors?.['required']" class="text-red-500 block  mb-5">
                                    New password is required.
                                </small>
                                <small *ngIf="f['new_password'].touched && f['new_password'].errors?.['minlength']" class="text-red-500 block mb-2">
                                    Password must be at least 6 characters.
                                </small>
                
                                <label for="confirm-password" class="block text-900 text-xl font-medium mb-2 mt-4">Confirm Password <span class="text-red-500">*</span></label>
                                <input formControlName="confirm_password"  id="confirm-password" type="password" placeholder="Enter confirm password" pInputText class="w-full " style="padding:1rem">
                                <small *ngIf="f['confirm_password'].touched && changePasswordForm.controls['confirm_password'].errors?.['required']" class="text-red-500 block  mb-5">
                                    Confirm password is required.
                                </small>
                                <small *ngIf="f['confirm_password'].touched && !f['confirm_password'].errors?.['required'] && changePasswordForm.errors?.['mismatch']" class="text-red-500 block mb-5">
                                    Passwords do not match.
                                </small>
                
                                <button [disabled]="changePasswordForm.invalid || loading" type="submit" [loading]="loading" pButton pRipple label="Change" class="block p-3 text-xl mb-5 mt-5"></button>
                            </form>
                        </p-fieldset>
                    <!-- </div> -->
                </div>
            </div>
            
        </div>
    </div>
</div>
