
::ng-deep p-fieldset fieldset {
    margin-bottom: 10px;
}

::ng-deep p-fieldset legend {
    padding: 5px;
    background: none;
    border: none;
}

:host ::ng-deep p-breadcrumb nav{
    background-color: transparent !important;
    border: none !important;
}