<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
<div class="card">
    <div class="grid">
        <div class="col-12">
            <div class="p-2">
                <p-button label="Add New" icon="pi pi-plus" (onClick)="showAddMachineDialog()" />
            </div>
            <p-table 
                [rowHover]="true" 
                [loading]="loadingMD" 
                [value]="machinesData" 
                [tableStyle]="{ 'min-width': '50rem' }"
                dataKey="id" >
                <ng-template pTemplate="header">
                    <tr>
                        <th>SN</th>
                        <th>Process</th>
                        <th>Machine Name</th>
                        <th>Capacity</th>
                        <th>No.OF M/C</th>
                        <th>Speed</th>
                        <th>No. Of Shift</th>
                        <th>Plan No of M/C</th>
                        <th>% of Efficiency</th>
                        <th>Added At</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-machine let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex+1 }}</td>
                        <td>{{ machine.process }}</td>
                        <!-- <td><a [routerLink]="['/machines/machine-details', machine.id]">{{ machine.machine_name }}</a></td> -->
                        <td>{{ machine.name }}</td>
                        <td>{{ machine.capacity }}</td>
                        <td>{{ machine.no_of_mc }}</td>
                        <td>{{ machine.speed }}</td>
                        <td>
                            {{ machine.no_of_shift }}
                        </td>
                        <td>{{ machine.plan_no_of_mc }}</td>
                        <td>{{ machine.per_of_efficiency }}</td>
                        <td>{{ machine.created_at | date:'shortDate' }}</td>
                        <td>
                            <p-button icon="pi pi-pencil" (click)="showMachineEdit(machine)" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog header="{{selectedMachine ? 'Update Machine' : 'Add Machine'}}" [modal]="true" [(visible)]="visibleAddMachineDialog" [style]="{ width: '50vw' }">
    <app-machine-details [selectedMachine]="selectedMachine" *ngIf="visibleAddMachineDialog" (notifyParent)="onChildNotify($event)"></app-machine-details>
</p-dialog>