<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
<div class="card">
    <div class="grid">
        <div class="col-12">
            <div class="p-2 flex justify-content-between">
                <p-button label="Add New" icon="pi pi-plus" (onClick)="showAddEmployeeDialog()" />
                <span class="p-buttonset">
                    <p-button label="Active" (onClick)="showActiveEmployees()" [disabled]="current"/>
                    <p-button label="Blocked" (onClick)="showBlockedEmployees()" [disabled]="!current"/>
                </span>
            </div>
            <p-table [rowHover]="true" [loading]="loadingED" [value]="employeesData" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Employee Id</th>
                        <th>Role</th>
                        <th>Added At</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
                    <tr (click)="editEmployee(employee)">
                        <td>{{ rowIndex+1 }}</td>
                        <td>{{ employee.salutation }}. {{ employee.name }}</td>
                        <td>{{ employee.email_add }}</td>
                        <td>{{ employee.emp_id }}</td>
                        <td>{{ employee.role }}</td>
                        <td>{{ employee.created_at.date | date:'shortDate' }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog header="{{employee ? 'Update Employee' : 'Add Employee'}}" [modal]="true" [(visible)]="visibleAddEmployeeDialog" [style]="{ width: '75vw' }">
    <app-employee-details [employee]="employee" [incommingUserPermission]="employee?.permissions" [permissions]="permissions" *ngIf="visibleAddEmployeeDialog" (notifyParent)="onChildNotify($event)"></app-employee-details>
</p-dialog>