<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <!-- <img src="assets/icons/unbrako_main.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">                 -->
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/icons/unbrako_main.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Forgot Password</div>
                </div>

                <div>

                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                        <p-messages 
                            [(value)]="messages" 
                            [enableService]="false" 
                            [closable]="true" />
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email <span class="text-red-500">*</span></label>
                        <input formControlName="email"  id="email1" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem" style="padding:1rem">
                        <small *ngIf="submitted && forgotPasswordForm.controls['email'].invalid" class="text-red-500 block  mb-5">
                            Email is required.
                        </small>

                        <div class="flex align-items-center justify-content-between mb-5 gap-5 mt-2">
                            <a [routerLink]="['/auth/login']" class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Login</a>
                        </div>
                        <button [disabled]="loading" type="submit" [loading]="loading" pButton pRipple label="Submit" class="w-full p-3 text-xl"></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
