:host ::ng-deep p-breadcrumb nav{
    background-color: transparent !important;
    border: none !important;
}

.color-1{
    background-color: rgb(255, 255, 0);
}

.color-2{
    background-color: rgb(217, 151, 149);
}

.color-3{
    background-color: rgb(228, 109, 10);
}

.color-4{
    background-color: rgb(255, 192, 0);
}

.machine-color{
    background-color: rgb(149, 179, 215);
}

.total-row {
  background-color: skyblue !important;
  font-weight: bold;
}