<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
<div class="card">
    <div class="grid">
        <div class="col-12">
            <h3>Module Shift Output</h3>
                <label for="module-id">Module <span class="text-red-500">*</span></label>
                <div class="flex justify-content-between">
                    <div>
                        <p-dropdown
                            id="module-id"
                            class="mr-2"
                            [options]="moduleOptions"
                            [(ngModel)]="module_id"
                            appendTo="body"
                            placeholder="Select Module for Machine"
                            optionLabel="label"
                            optionValue="id"
                            filter="true"
                            filterBy="name"
                            (onChange)="loadMachines()"
                        ></p-dropdown>
                        <p-progressSpinner *ngIf="loadingModules" styleClass="w-2rem h-2rem mr-2" />
                        <!-- <p-button type="submit" label="Go" [disabled]="!module_id || !current" (onClick)="loadMachines()" [loading]="loadingMachines" /> -->
                    </div>
                    <span class="p-buttonset">
                        <p-button (onClick)="getCurrentData()" label="Current" [disabled]="current" />
                        <p-button (onClick)="getTempSavedModuleShiftData()" label="Saved" [disabled]="!current" />
                    </span>

                </div>
        </div>
        <div class="col-12" *ngIf="messages && messages.length">
            <p-messages 
                [(value)]="messages" 
                [enableService]="false" 
                [closable]="true"
                styleClass="mt-2" />
        </div>
        <div class="col-12" *ngIf="current">
            <form [formGroup]="dailyUpdateForm">
                <!-- <p-fieldset legend="Daily Update" [toggleable]="false"> -->
                    <div class="p-fluid grid">
                        <div class="field col-12 sm:col-3 mb-0">
                            <label for="order">Date <span class="text-red-500">*</span></label>
                            <input id="order" value="{{ today | date: 'dd-MM-yyyy'  }}" type="text" pInputText [disabled]="true" />
                            <!-- <small *ngIf="submitted && productMasterForm.controls['order_number'].invalid" class="p-error">Order is required.</small> -->
                        </div>
                        <div class="field col-12 sm:col-3 mb-0">
                            <label for="finish_wt">Shift <span class="text-red-500">*</span></label>
                            <!-- <input id="shift" type="text" pInputText [disabled]="true" /> -->
                            <div class="">
                                <p-dropdown
                                    id="shift"
                                    class="flex-grow-1 w-full"
                                    [options]="shifts"
                                    formControlName="shift"
                                    appendTo="body"
                                    placeholder="Select Module for Machine"
                                    optionLabel="label"
                                    optionValue="id"
                                    filter="true"
                                    filterBy="label"
                                ></p-dropdown>
                                <!-- <p-progressSpinner *ngIf="loadingMachineModules" styleClass="w-2rem h-2rem" /> -->
                                 <small *ngIf="dailyUpdateForm.get('shift')?.invalid && dailyUpdateForm.get('shift')?.touched" class="p-error">
                                    Shift is required
                                </small>
                            </div>
                        </div>
                        <div class="field col-12 sm:col-3 mb-0">
                            <label for="supervisor">Supervisor <span class="text-red-500">*</span></label>
                            <input id="supervisor" formControlName="supervisor" type="text" pInputText />
                            <!-- <small *ngIf="submitted && productMasterForm.controls['supervisor_number'].invalid" class="p-error">Order is required.</small> -->
                            <small *ngIf="dailyUpdateForm.get('supervisor')?.invalid && dailyUpdateForm.get('supervisor')?.touched" class="p-error">
                                Supervisor is required
                            </small>
                        </div>
                        <div class="field col-12 sm:col-3 mb-0 align-self-end">
                            <div class="flex">
                                <p-button [loading]="saveLoading" label="Temp Save" class="mr-2" type="button" (onClick)="saveData()" [disabled]="saveLoading || dailyUpdateForm.invalid" />
                                <p-button *ngIf="dailyUpdateForm.untouched" [loading]="submitLoading" label="Submit" [disabled]="(dailyUpdateForm.invalid || !dailyUpdateForm.get('machinePartNumberInfo')?.length) || submitLoading " type="button" (onClick)="submitData($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12" formArrayName="machinePartNumberInfo" > <!-- *ngIf="machinePartNumberInfo  && dailyUpdateForm.get('machinePartNumberInfo')?.length" -->
                        <p-table #dailyUpdateTable [loading]="loadingMachines"
                            [globalFilterFields]="['machine_name', 'materialNumber', 'materialDescription', 'orderQuantity_GMEIN']"
                            [value]="machinePartNumberInfo" 
                            [tableStyle]="{ 'min-width': '50rem' }" 
                                >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Machine</th>
                                    <th>Material Number</th>
                                    <th>Material Description</th>
                                    <th>Total Qty.</th>
                                    <th>Forged So Far</th>
                                    <th>Pending Qty.</th>
                                    <th>Production</th>
                                </tr>
                                <tr>
                                    <th>
                                        <p-columnFilter 
                                            type="text" 
                                            field="machine_name" 
                                            matchMode="contains"
                                            placeholder="Search by machine" 
                                            ariaLabel="Filter Machine Name" />
                                    </th>
                                    <th>
                                        <p-columnFilter 
                                            type="text" 
                                            field="materialNumber" 
                                            matchMode="contains"
                                            placeholder="Search by part number" 
                                            ariaLabel="Filter Material Number" />
                                    </th>
                                    <th>
                                        <p-columnFilter 
                                            type="text" 
                                            field="materialDescription" 
                                            matchMode="contains"
                                            placeholder="Search by Description" 
                                            ariaLabel="Filter Material Description" />
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-row  let-rowIndex="rowIndex">
                                <tr [formGroupName]="rowIndex" [ngClass]="{'has-qty': row.production_qty != 0}">
                                    <td>{{ row.machine_name }}</td>
                                    <td>{{ row.materialNumber }}</td>
                                    <td>{{ row.materialDescription }}</td>
                                    <td>{{ row.to_forge_qty }}</td>
                                    <td>{{ row.forged_so_far }}</td>
                                    <td>{{ row.pending_qty }}</td>
                                    <td>
                                        <div class="flex align-items-center">
                                            <div>
                                                <!-- <input type="text" pInputText /> -->
                                                <input (input)="makeInt('input_qty')" (keypress)="onlyAllowNumbers($event)" type="text" pInputText formControlName="input_qty" />
                                                <!-- <div class="p-error" *ngIf="dailyUpdateForm.get('machinePartNumberInfo')['controls'][rowIndex].get('input_qty')?.errors?.['required'] && dailyUpdateForm.get('machinePartNumberInfo')['controls'][rowIndex].get('input_qty')?.touched">
                                                    Quantity is required
                                                </div> -->
                                                <div class="p-error" *ngIf="dailyUpdateForm.get('machinePartNumberInfo')['controls'][rowIndex].get('remarks')?.hasError('required')">
                                                    <small>Cannot exceed pending qty ({{ dailyUpdateForm.get('machinePartNumberInfo')['controls'][rowIndex].get('input_qty')?.errors?.['maxExceeded'].max }})</small>
                                                </div>
                                            </div>
                                            <div>
                                                <input type="text" pInputText formControlName="remarks" placeholder="Remarks" />
    
                                                <div class="p-error" *ngIf="dailyUpdateForm.get('machinePartNumberInfo')['controls'][rowIndex].get('remarks')?.hasError('required')">
                                                    <small>Remarks are required if input quantity exceeds pending quantity.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                <!-- </p-fieldset> -->
            </form>
        </div>

        <div class="col-12" *ngIf="!current">
                
            <p-table #savedTempTable [loading]="loadingSavedTempData"
                [globalFilterFields]="['machine_name', 'module_name', 'materialNumber', 'orderQuantity_GMEIN']"
                [value]="moduleShiftTempData" 
                [tableStyle]="{ 'min-width': '50rem' }" 
                    >
                <ng-template pTemplate="header">
                    <tr>
                        <th>SN</th>
                        <th>Module</th>
                        <th>Machine</th>
                        <th>Material Number</th>
                        <th>Total Qty.</th>
                        <th>Forged So Far</th>
                        <th>Pending Qty.</th>
                        <th>Production</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <p-columnFilter 
                                type="text" 
                                field="module_name" 
                                placeholder="Search by module" 
                                ariaLabel="Filter Module Name" />
                        </th>
                        <th>
                            <p-columnFilter 
                                type="text" 
                                field="machine_name" 
                                placeholder="Search by machine" 
                                ariaLabel="Filter Machine Name" />
                        </th>
                        <th>
                            <p-columnFilter 
                                type="text" 
                                field="materialNumber" 
                                placeholder="Search by part number" 
                                ariaLabel="Filter Material Number" />
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row  let-rowIndex="rowIndex">
                    <tr >
                        <td>{{ rowIndex+1 }}</td>
                        <td>{{ row.module_name }}</td>
                        <td>{{ row.machine_name }}</td>
                        <td>{{ row.material_number }}</td>
                        <td>{{ row.to_forge_qty }}</td>
                        <td>{{ row.forged_so_far }}</td>
                        <td>{{ +row.to_forge_qty - +row.forged_so_far }}</td>
                        <td>
                            {{ row.production_qty }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!-- <div class="col-12" *ngIf="machinePartNumberInfo">
            <p-accordion [activeIndex]="0">
                <ng-container *ngFor="let machineGroup of machinePartNumberInfo">
                        <p-accordionTab [header]="'Machine ' + machineGroup.machineInfo.name">
                            <p-table [value]="machineGroup.items" [tableStyle]="{ 'min-width': '50rem' }">
                                <ng-template pTemplate="header">
                                    <tr>
                                    <th>Machine</th>
                                    <th>Material Number</th>
                                    <th>Order Qty.</th>
                                    <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product>
                                    <tr>
                                    <td>{{ product.machine }}</td>
                                    <td>{{ product.materialNumber }}</td>
                                    <td>{{ product.orderQuantity_GMEIN }}</td>
                                    <td></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-accordionTab>
                </ng-container>
            </p-accordion>

        </div> -->
        <!-- <div class="col-12">
            <p-table #dailyUpdateTable 
                [globalFilterFields]="['machine_name', 'materialNumber', 'orderQuantity_GMEIN']"
                [value]="machinePartNumberInfo" 
                [tableStyle]="{ 'min-width': '50rem' }" 
                    *ngIf="machinePartNumberInfo">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Machine</th>
                        <th>Material Number</th>
                        <th>Total Qty.</th>
                        <th>Forged So Far</th>
                        <th>Pending Qty.</th>
                        <th>Production</th>
                    </tr>
                     <tr>
                        <th>
                            <p-columnFilter 
                                type="text" 
                                field="machine_name" 
                                placeholder="Search by machine" 
                                ariaLabel="Filter Machine Name" />
                        </th>
                        <th>
                            <p-columnFilter 
                                type="text" 
                                field="materialNumber" 
                                placeholder="Search by part number" 
                                ariaLabel="Filter Material Number" />
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                    <td>{{ product.machine_name }}</td>
                    <td>{{ product.materialNumber }}</td>
                    <td>{{ product.orderQuantity_GMEIN }}</td>
                    <td>{{ product.forged_so_far }}</td>
                    <td>{{ product.pending_qty }}</td>
                    <td>
                        <input type="text" pInputText />
                    </td>
                    </tr>
                </ng-template>
            </p-table>
        </div> -->
    </div>
</div>
<p-confirmDialog />