<form [formGroup]="machineForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="p-fluid grid">
  
      <!-- Name -->
      <div class="field col-12 sm:col-6">
        <label for="name">Name <span class="text-red-500">*</span></label>
        <input id="name" type="text" pInputText formControlName="name" (input)="onNameInput($event)" placeholder="Enter Name" (focus)="backendErrors=undefined" />
        <small *ngIf="f['name'].touched && f['name'].errors?.['required']" class="p-error">
          Name is required.
        </small>
        <small *ngIf="backendErrors?.name" class="p-error">
          {{ backendErrors.name }}
        </small>
      </div>

      <!-- Process Dropdown -->
      <div class="field col-12 sm:col-6">
        <label for="process">Process <span class="text-red-500">*</span></label>
        <p-dropdown
          id="process"
          [options]="processOptions"
          formControlName="process"
          placeholder="Select Process"
          optionLabel="label"
          optionValue="value"
          min="0"
        ></p-dropdown>
        <small *ngIf="f['process'].touched && f['process'].errors?.['required']" class="p-error">
          Process is required.
        </small>
        <small *ngIf="f['no_of_mc'].touched && f['no_of_mc'].errors?.['min']" class="p-error">
          No of machines cannot be less than 0.
        </small>
      </div>

      <div class="field col-12 sm:col-6">
        <label for="speed">Speed <span class="text-red-500">*</span></label>
        <input
          id="speed"
          type="text"
          pInputText
          formControlName="speed"
          placeholder="Enter machine speed"
        />
      </div>
  
      <div class="field col-12 sm:col-6" *ngIf="f['name'].valid">
        <label for="no_of_mc">No. Of Machines <span class="text-red-500">*</span></label>
        <p-inputNumber min="0" max="10" id="no_of_mc" type="number" formControlName="no_of_mc" placeholder="" />
        <small *ngIf="f['no_of_mc'].touched && f['no_of_mc'].errors?.['required']" class="p-error">
          No of machines is required
        </small>
        <small *ngIf="f['no_of_mc'].touched && f['no_of_mc'].errors?.['max']" class="p-error">
          Max number should be 10.
        </small>
      </div>

  
      <!-- Dynamic Fields for Machine Revision -->
      <!-- <div class="field col-12">
        <label for="machine_rev">Machine Names</label>
        <div *ngFor="let rev of machineRev.controls; let i = index" class="p-inputgroup">
          <input
            [value]="rev.value"
            readonly
            pInputText
            placeholder="Machine Revision"
          />
        </div>
      </div> -->

      <!-- Dynamic Fields for Machine Revision -->
      <div formArrayName="machine_rev"  class="field col-12">
        <label for="machine_rev">Machines</label>
        <div *ngFor="let rev of machineRev.controls; let i = index" [formGroupName]="i" class="grid">
          <div class="field col-12 sm:col-6">

            <input
              id="machineRev-{{ i }}"
              type="text"
              formControlName="machineName"
              pInputText
              placeholder="Enter Machine Revision"
              />
              <!-- [value]="machineForm.get('name')?.value" -->
            <small *ngIf="rev.get('machineName')?.touched && rev.get('machineName')?.invalid" class="p-error">
              Revision is required.
            </small>
          </div>

          <div class="field col-12 sm:col-6">

            <!-- Shift Multi-Select Dropdown -->
            <p-multiSelect
              id="shifts-{{ i }}"
              [options]="shiftOptions"
              formControlName="shifts"
              placeholder="Select Shifts"
              display="chip"
              optionLabel="label"
              optionValue="value"
            ></p-multiSelect>
            <small *ngIf="rev.get('shifts')?.touched && rev.get('shifts')?.invalid" class="p-error">
              At least one shift is required.
            </small>
          </div>
        </div>
        <!-- <div *ngIf="rev.invalid && rev.touched" class="error">
          Revision is required.
        </div> -->


      </div>
      

      <!-- Submit Button -->
      <div class="field col-12 sm:col-3">
        <button [disabled]="machineForm.invalid || loading" type="submit" [loading]="loading" pButton pRipple label="Submit" class=""></button>
      </div>
  
    </div>
  </form>
  